header {   
    background: $neutral_light_10;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
    min-width: 200px;
    padding-top: 100px;
    position: fixed;
        top: 0;
        left: 0;
    width: 100vw;
    z-index: 50;

    .site-logo {
        height: 100px;
        padding: 10px;
        position: absolute;
        top: 0;
        width: 100%;
        margin-bottom: 10px;

        a {
            display: block;
        }

        img, svg {
            max-width: 100%;
        }
    }
}

nav {
    width: 100%;
    overflow-x: auto;

    &.main {
        ul {
            display: flex;
        }

        li {
            padding: 15px 10px;
            text-align: center;

            &.cta {
                a {
                    background: $secondary;
                    border-color: $secondary;
                    box-shadow: 1px 1px 2px $primary;

                    &:active, &:hover, &:focus {
                        background: transparent;
                        border-color: $secondary;
                        box-shadow: none;
                    }
                }
            }
        }

        a {
            border: 3px solid transparent;
            font-size: 1em;
            padding: 5px 10px;
            text-decoration: none;
            white-space: nowrap;

            &:active, &:hover, &:focus {
                background: $secondary;
                border-color: $secondary;
                color: $primary_light_90;
            }
        }
    }

    &.social {
        display: none;
    }

    &.icons {
        font-size: 2em;

        ul {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
        }

        li {
            span {
                display: inline-block;
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }

        svg {
            margin: 10px;
            height: 1em;
            width: 1em;
        }

        a {
            display: inline-block;
            border: 2px solid transparent;

            &:active, &:hover, &:focus {
                border-color: $secondary;

               &[title="Instagram"] {
                   path, circle {
                       fill: #e02d69;
                   }
               } 

               &[title="Facebook"] {
                   path {
                       fill: #39579a;
                   }
               }
            }
        }
    }
}

body {
    min-height: 100vh;

    &.home {
        .content {
            margin-top: 0;
        }

        footer {
            display: none;
        }
    }
}

.content {
    margin-left: 20vw;
    padding: 50px;
    position: relative;
    text-align: right;
}

.featured-image {
    display: flex;
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        overflow: hidden;

    img {
        object-fit: cover;
        max-height: unset;
        height: auto;
        max-width: unset;
    }

    blockquote {
        position: absolute;
        top: 5vh;
        right: 5vw;
        max-width: 50vw;
        padding: 1em 2em;
        font-size: 3em;
        border: none;
        z-index: 5;
        
        p {
            color: $secondary_light_90;
            text-shadow: 1px 1px 2px #000;
        }

        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     background: $neutral_light_10;
        //     opacity: 0.7;
        //     z-index: 0;
        // }
    }
}

.product {
    .woocommerce-product-details__short-description {
        .description {
            div {
                display: none;

                &.visible {
                    display: block;
                }
            }
        }
    }

    h2, h3 {
        text-align: right;
    }

    ul.variable-items-wrapper {
        display: flex;
        list-style: none;
    }

    .woocommerce-product-gallery {
        .woocommerce-product-gallery__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-top: 0;

            *:first-child {
                width: 100%;
            }

            img {
                max-width: 40vw;
            }

            @supports(grid-template-areas: '.') {
                display: grid;
                grid-template-columns: repeat(auto-fill, 100px);
                grid-template-rows: max-content;
                grid-auto-flow: dense;
                grid-auto-rows: 100px;
                justify-content: stretch;
                direction: rtl;
                margin-left: auto;
                width: 40vw;

                *:first-child {
                    height: auto;
                    width: 100%;
                    grid-column: 1 / -1;
                    grid-row: 1;
                }

                img {
                    max-height: 40vw;
                }
            }
        }
    }

    .price, .woocommerce-product-details__short-description {
        position: absolute;
            top: 50px;
        width: 30vw;
    }

    .woocommerce-product-details__short-description {
        top: calc(50px + 2em);
    }

    form {
        border: none;
        clear: both;
        width: 100%;
        max-width: unset;
        text-align: left;

        .radio-group {
            display: flex;

            &.flavour, &.theme {
                text-align: center;

                .wcpa_radio {
                    padding: 0 5px;
                }

                label {
                    font-size: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 104px;
                    padding-right: 0;
                    padding: 5px;
                    position: relative;
                    text-align: center;
                    width: 104px;
                    

                    .wcpa_check {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 2px solid #fff;
                        border-radius: 0;
                        height: auto;
                        margin-bottom: 0;
                        margin-right: 0;
                        padding: 0;
                        position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                        width: auto;
                        z-index: -5;

                        &:before  {
                            content: normal;
                        }
                    }

                    &:before {
                        background: rgba(255, 255, 255, 0.6);
                        border: 2px solid transparent;
                        position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                    }

                    &:hover {
                        font-size: 0.8em;

                        &:before {
                            content: '';
                            z-index: -1;
                        }
                    }
                } 

                input:checked {
                    & + label {
                        .wcpa_check {
                            border-color: $secondary_dark_75;
                        }
                    }
                }
            }
        }

        label {
            color: $primary;
            font-size: 1.5em;
            margin-bottom: 10px;
        }
    }
}

footer {
    background: blue;
    width: 80vw;
    margin: auto 0 0 auto;
    .aimhigher {
        svg {
            .cls-1, .cls-2 {
                fill: $primary_light_75;
            }
        }

        a {
            &:active, &:hover, &:focus {
                svg {
                    .cls-1 {
                        fill: #1c75bc;
                    }

                    .cls-2 {
                        fill: #16a6b1;
                    }
                }
            }
        }
    }
}