header {   
    background: $neutral_light_10;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
    min-width: 200px;
    padding-top: 100px;
    width: 100vw;
    z-index: 50;

    .site-logo {
        height: 100px;
        padding: 10px;
        position: absolute;
        top: 0;
        width: 100%;
        margin-bottom: 10px;

        a {
            display: block;
        }

        img, svg {
            max-width: 100%;
        }
    }

    .social {
        display: none;
    }
}

nav {
    width: 100%;
    overflow-x: auto;

    &.main {
        ul {
            display: flex;
        }

        li {
            padding: 15px 10px;
            text-align: center;

            &.cta {
                a {
                    background: $secondary;
                    border-color: $secondary;
                    box-shadow: 1px 1px 2px $primary;

                    &:active, &:hover, &:focus {
                        background: transparent;
                        border-color: $secondary;
                        box-shadow: none;
                    }
                }
            }
        }

        a {
            border: 3px solid transparent;
            font-size: 1em;
            padding: 5px 10px;
            text-decoration: none;
            white-space: nowrap;

            &:active, &:hover, &:focus {
                background: $secondary;
                border-color: $secondary;
                color: $primary_light_90;
            }
        }
    }

    &.icons {
        font-size: 2em;

        ul {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
        }

        li {
            span {
                display: inline-block;
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }

        svg {
            margin: 10px;
            height: 1em;
            width: 1em;
        }

        a {
            display: inline-block;
            border: 2px solid transparent;

            &:active, &:hover, &:focus {
                border-color: $secondary;

               &[title="Instagram"] {
                   path, circle {
                       fill: #e02d69;
                   }
               } 

               &[title="Facebook"] {
                   path {
                       fill: #39579a;
                   }
               }
            }
        }
    }
}

body {
    min-height: 100vh;

    &.home {
        .content {
            margin-top: 0;
        }
    }
}

.content {
    min-height: 70vh;
    position: relative;
    text-align: right;
}

.container {
    font-size: 18px;
    line-height: 1.5;
    margin-left: auto;
    max-width: 1000px;
    padding: 0 20px 0 10px;

    h1 {
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    &.cart {
        max-width: 100%;
        padding-bottom: 100px;
    }

    #sb_instagram.sbi_col_4 {
        #sbi_images {
            display: flex;
            flex-wrap: wrap;
    
            .sbi_item {
                flex-grow: 1;
                height: auto;
                width: auto;
                min-width: 200px;
                max-width: 300px;
            }
        }
    }
}

.featured-image {
    display: flex;
    justify-content: flex-start;

    img {
        object-fit: cover;
        object-position: left;
        min-height: 70vh;
        height: auto;
        width: auto;
        min-width: 100vw;
        max-width: unset;
    }

    blockquote {
        position: absolute;
        top: 5vh;
        right: 5vw;
        width: 100%;
        padding: 1em 0 1em 1em;
        margin: 0;
        font-size: 2em;
        border: none;
        text-align: right;
        z-index: 5;
        
        p {
            color: $secondary_light_90;
            text-align: right;
            text-shadow: 1px 1px 2px #000;
        }

        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     background: $neutral_light_10;
        //     opacity: 0.7;
        //     z-index: 0;
        // }
    }
}

.product {
    .woocommerce-Price-amount {
        border: 4px solid $secondary;
        color: $primary;
        font-size: 2em;
        padding: 10px 15px;

        .woocommerce-Price-currencySymbol {
            font-size: 0.7em;
        }
    }

    .price-disclaimer {
        display: block;
        font-size: 0.7em;
        margin-top: 2em;
    }

    .price, .woocommerce-product-details__short-description {
        position: absolute;
            top: 50px;
        width: 30vw;
    }

    .woocommerce-product-details__short-description {
        font-size: 1.2em;
        line-height: 1.5;
        top: calc(50px + 5em);

        .description {
            div {
                display: none;

                &.visible {
                    display: block;
                }
            }
        }
    }

    h2, h3 {
        text-align: right;
    }

    h3 {
        font-size: 1.5em;
    }

    ul.variable-items-wrapper {
        display: flex;
        list-style: none;
    }

    .woocommerce-product-gallery {
        .woocommerce-product-gallery__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            margin-top: 0;

            *:first-child {
                width: 100%;

                &.woocommerce-product-gallery__image {
                    overflow: hidden;
                    position: relative;
                }

                a {
                    cursor: auto;
                    pointer-events: none;
                }
            }

            img {
                max-width: 40vw;

                &.flavour-preview {
                    height: 100%;
                    width: auto;
                    margin-left: -50%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                        left: 50%;
                }
            }

            @supports(grid-template-areas: '.') {
                display: grid;
                grid-template-columns: repeat(auto-fill, 100px);
                grid-template-rows: max-content;
                grid-auto-flow: dense;
                grid-auto-rows: 100px;
                justify-content: stretch;
                direction: rtl;
                margin-left: auto;
                width: 40vw;

                *:first-child {
                    height: auto;
                    width: 100%;
                    grid-column: 1 / -1;
                    grid-row: 1;
                }

                img {
                    max-height: 40vw;
                }
            }
        }
    }

    form {
        border: none;
        clear: both;
        width: 100%;
        max-width: unset;
        text-align: left;

        .radio-group {
            display: flex;

            &.flavour, &.theme {
                text-align: center;

                .wcpa_radio {
                    padding: 0 5px;
                }

                label {
                    font-size: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 104px;
                    padding-right: 0;
                    padding: 5px;
                    position: relative;
                    text-align: center;
                    width: 104px;
                    

                    .wcpa_check {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 2px solid #fff;
                        border-radius: 0;
                        height: auto;
                        margin-bottom: 0;
                        margin-right: 0;
                        padding: 0;
                        position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                        width: auto;
                        z-index: -5;

                        &:before  {
                            content: normal;
                        }
                    }

                    &:before {
                        background: rgba(255, 255, 255, 0.6);
                        border: 2px solid transparent;
                        position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                    }

                    &:hover {
                        font-size: 0.8em;

                        &:before {
                            content: '';
                            z-index: -1;
                        }
                    }
                } 

                input:checked {
                    & + label {
                        .wcpa_check {
                            border-color: $secondary_dark_75;
                        }
                    }
                }
            }
        }

        .wcpa_form_outer {
            input[type="text"], textarea {
                width: 300px;
            }
        }

        label {
            color: $primary;
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        input {
            color: $primary_light_90;

            &[type="text"], &[type="number"] {
                background: #fff;
                width: 300px;

                &:focus {
                    border-color: $secondary_dark_75;
                }
            }
        }

        .prdd-delivery-form {
            border: none;
            padding: 0;
            width: 300px;

            input.delivery_calender {
                cursor: pointer !important;
                padding: 5px;

                & + img {
                    display: none;
                }
            }

            .prdd_start_date, .show_time_slot {
                width: 100%;
            }

            .ui-datepicker-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;

                &:before, &:after {
                    content: normal;
                }

                a {
                    display: flex;
                    align-items: center;
                    float: none;
                    
                    &.ui-datepicker-next {
                        order: 1;
                    }
                }
            }

            .ui-datepicker-calendar {
                a {
                    &.ui-state-active, &:hover, &:focus {
                        background: $secondary;
                    }

                    &:hover, &:focus {
                        background: #fff;
                        border: 2px solid $secondary;
                        padding: 3px 8px;
                    }
                }
            }

            .show_time_slot {
                label {
                    display: block;
                    margin: 10px 0;
                }
            }

            select.time_slot {
                border: 1px solid $primary_light_90;
                color: $primary_light_90;
                padding: 5px;

                &:focus {
                    border-color: $secondary_dark_75;
                }
            }
        }

        button[type="submit"] {
            border-color: $secondary;
            color: $primary_light_90;

            &:active, &:hover, &:focus {
                background: $secondary;
                color: $primary;
            }
        }
    }
}

.pswp__caption {
    display: none;
}

.woocommerce-cart-form, .woocommerce-checkout {
    border: none;
    max-width: unset;

    .product-thumbnail {
        width: 100px;
    }

    table {
        border: none;
    }

    .product-name {
        & > a {
            display: none;
        }

        .prdd_edit_deliveries {
            @extend %button;
            display: inline-block;
            width: auto;
        }
    }

    dl.variation {
        display: none;
    }

    input {
        &[type="text"], &[type="email"], &[type="tel"] {
            @extend %input;
        }
    }

    textarea {
        @extend %input;
    }

    select {
        @extend %input;

        & + span {
            span.selection {
                > span {
                    @extend %input;
                    border-radius: 0 !important;
                    height: auto;
                    min-height: 48px;

                    > span[role="presentation"] {
                        height: auto;
                        top: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }

    #payment.woocommerce-checkout-payment {
        background: none;

        li {
            list-style: none;
        }
    }

    .woocommerce-form__label-for-checkbox {
        font-size: 0.8em;
        display: flex;

        input[type="checkbox"] {
            margin-right: 1em;
            width: auto;
        }
    }
}

.woocommerce-shipping-calculator {
    border: none;

    input[type="text"] {
        @extend %input;
    }
}

#export_to_ics {
    border: none;
    font-size: 0;

    input {
        font-size: 18px;

        &[type="submit"] {
            @extend %button;
        }
    }
}

details {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;

    &[open] {
        summary {
            &:after {
                transform: rotate(-90deg);
            }
        }
    }
}

summary {
    border: 1px solid $primary;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    margin: -10px -10px 10px;
    padding: 10px 30px 10px 10px;
    position: relative;

    &:after {
        border-style: solid;
        border-width: 7.5px 13.0px 7.5px 0;
        border-color: transparent #2b2b2b transparent transparent;
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        position: absolute;
        top: calc(50% - 7.5px);
        right: 10px;
    }
}

footer {
    background: $neutral_light_10;
    width: 100vw;

    .social {
        display: block;
    }

    .aimhigher {
        margin-left: auto;
        width: 40%;
        max-width: 200px;

        svg {
            .cls-1, .cls-2 {
                fill: $primary_light_75;
            }
        }

        a {
            &:active, &:hover, &:focus {
                svg {
                    .cls-1 {
                        fill: #1c75bc;
                    }

                    .cls-2 {
                        fill: #16a6b1;
                    }
                }
            }
        }
    }
}