header {   
    padding: 25px;
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    width: 20vw;

    .site-logo {
        height: 200px;
        max-height: 20vh;
        order: 1;
        position: static;
        width: 100%;
    }
}

nav {
    overflow-x: visible;

    &.main {
        ul {
            flex-direction: column;
        }

        li {
            &:nth-child(n+5) {
                order: 2;
            }
        }

        a {
            font-size: 1.2em;
        }
    }

    &.social {
        display: block;
    }
}

body {
    &.home {
        footer {
            display: none;
        }
    }
}