* {
    box-sizing: border-box;
    color: $neutral_dark_25;
    font: $font_regular;
}

body {
    margin: 0;
    position: absolute;
        top: 0;
    overflow-x: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: $primary_light_25;
    background: rgba($primary, 0.2);

    &:hover {
        background: $primary_light_90;
        background: rgba($primary, 0.9);
    }
}

h1, h2, h3, h4, h5 {
    font: $font_headings;
    text-align: left;
}
  

h1 {
    border: 4px solid $secondary;
    color: $primary;
    display: inline-block;
    font-size: 2.5em;
    padding: 10px 15px;;
    text-transform: uppercase;
    width: auto;
}

h2 {
    border: 3px solid $secondary;
    color: $primary;
    padding: 10px;
    font-size: 2em;
}

h3 {
    color: $primary_light_75;
    font-size: 1.8em;
}

h4 {
    color: $primary_light_25;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

h5 {
    color: $primary_light_25;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

a {
    color: $primary_light_90;
    text-decoration-skip-ink: auto;

    &:active, &:hover, &:focus {
        background: $secondary_dark_75;
        text-decoration: none;
    }
}

blockquote {
    border: 4px solid $primary;
    color: $primary_light_90;
    font-size: 1.2em;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    position: relative;
    text-align: right;

    p {
        color: inherit;
        line-height: 1.5;
    }

    &:before {
        $offset: 10px;
        background: $secondary_light_50;
        content: '';
        position: absolute;
            top: $offset;
            right: -1 * $offset;
            bottom: -1 * $offset;
            left: $offset;
        z-index: -1;
    }
}

ul {
    margin: 0.3em 0;
    padding-left: 40px;

    li {
        list-style-type: disc;
    }
}

ol {
    margin: 0.3em 0;

    li {
        line-height: 2em;
    }
}

hr {
    border-color: $primary_light_50;
}

img, svg {
    width: auto;
        max-width: 100%;
}

figcaption {
    border: none;
        border-left: 3px solid $secondary;
    color: $primary_light_90;
    padding: 5px 5px 5px 10px;
    text-align: left;
}

nav {
    ul, li {
        list-style-type: none;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
}

.icons {
    i, svg {
        color: $primary_light_75;
        fill: $primary_light_75;
        height: 40px;
        margin: 20px;
        width: 40px;
    }
}

a {
    i, svg {
        &:hover {
            border: none;
            cursor: pointer;
            fill: $primary;
        }
    }
}

form {
    margin-left: auto;
    width: 100%;
        max-width: 400px;

    h5 {
        margin: 0;
    }

    input, textarea {
        border: 1px solid $primary_light_75;
        color: $primary_light_90; 
        display: block;
        margin: 10px 0;
        padding: 5px 10px;
        width: 100%;

        &::placeholder {
            color: $primary_light_25; 
        }

        &:focus {
            border-color: $secondary_dark_75;
        }
    }

    button {
        margin-left: auto;
    }

    .wpforms-field-hp {
        display: none;
    }
}

button, .btn, .button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    @extend %button;

    &:active, &:hover, &:focus {
        @extend %button-hover;
    }
}

.content {
    .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
        @extend %button;
        display: inline-block;
        width: auto;

        &:active, &:hover, &:focus {
            @extend %button-hover;
            background: $primary_light_50;
            color: #fff;
        }
    }
}