header {   
    padding: 25px;
    position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    width: 20vw;

    .site-logo {
        height: 200px;
        max-height: 20vh;
        order: 1;
        position: static;
        width: 100%;
    }
}

nav {
    overflow-x: visible;

    &.main {
        ul {
            flex-direction: column;
        }

        li {
            &:nth-child(n+5) {
                order: 2;
            }
        }

        a {
            font-size: 1.2em;
        }
    }

    &.social {
        display: block;
    }
}

body {
    &.home {
        footer {
            display: none;
        }
    }
}

.content {
    margin-left: 20vw;
    padding: 50px;
    min-height: 90vh;

    h1 {
        text-align: right;
    }
}

.container {
    font-size: 18px;
    padding-right: 60px;

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
}

.woocommerce-notices-wrapper {
    width: 40vw;
    margin-left: auto;
}



.featured-image {
    position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        overflow: hidden;

    img {
        min-width: 80vw;
        min-height: 100vh;
    }

    blockquote {
        max-width: 60vw;
        padding: 1em 2em;
        font-size: 2.5em;
    }
}

footer {
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    padding: 10px;
    width: 80vw;
    margin: auto 0 0 auto;

    .social {
        display: none;
    }

    .aimhigher {
        width: 200px;
    }
}