// Import stuff


// Colours
$primary: #000000;
    $primary_light_10: #e6e6e6;
    $primary_light_25: #bfbfbf;
    $primary_light_50: #808080;
    $primary_light_75: #404040;
    $primary_light_90: #191919;

$secondary: #f282b4;
    $secondary_light_10: #fef3f8;
    $secondary_light_25: #fce0ec;
    $secondary_light_50: #f9c1da;
    $secondary_light_75: #f5a1c7;
    $secondary_light_90: #f38fbc;

    $secondary_dark_10: #180d12;
    $secondary_dark_25: #3d212d;
    $secondary_dark_50: #79415a;
    $secondary_dark_75: #b66287;
    $secondary_dark_90: #da75a2;

$neutral: #aaaaaa;
    $neutral_light_10: #f7f7f7;
    $neutral_light_25: #eaeaea;
    $neutral_light_50: #d5d5d5;
    $neutral_light_75: #bfbfbf;
    $neutral_light_90: #b3b3b3;

    $neutral_dark_10: #111111;
    $neutral_dark_25: #2b2b2b;
    $neutral_dark_50: #555555;
    $neutral_dark_75: #808080;
    $neutral_dark_90: #999999;


//Fonts
@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./src/fonts/DroidSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./src/fonts/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./src/fonts/Cabin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('./src/fonts/Cabin-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./src/fonts/Cabin-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('./src/fonts/Cabin-BoldItalic.ttf') format('truetype');
}

$font_regular: 'Droid Sans', Arial, sans-serif;
$font_headings: 'Cabin', Arial, sans-serif;


// Variables
$height_header: 15vh;
$width_inner: 75rem;

// Mixins
@mixin transp-background() {
    background: #fff;
    background: rgba(#fff, 0.7);
};

%button {
    background: none;
    border: 2px solid $primary_light_50;
    color: $primary_light_50;
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;

        &:active, &:hover, &:focus {
            background: $primary_light_50;
            color: #fff;
        }
}

%button-hover {
    background: $primary_light_50;
    color: #fff;
}

%input {
    background: #fff;
    border: 1px solid $primary_light_90;
    color: $primary_light_90;
    padding: 10px;

    &:focus {
        border-color: $secondary_dark_75;
    }
}

%select {
    @extend %input;
    border-radius: 0;
}